@media (max-width: 768px) {
  .panels {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 250px 320px 200px 410px 140px 150px 150px 110px;
    column-gap: 1rem;
  }
  .pl-1 {
    grid-column: 1 /2;
    grid-row: 1 / span 3;
  }
  .pl-2 {
    grid-column: 2/ 3;
    grid-row: 3 / 5;
  }
  .pl-3 {
    grid-column: 2/ 3;
    grid-row: 1/ 3;
  }
  .pl-4 {
    grid-column: 2/ 3;
    grid-row: 5 / 8;
  }
  .pl-5 {
    grid-column: 1/ 2;
    grid-row: 6/ 9;
  }

  .pl-6 {
    grid-column: 1/2;
    grid-row: 4/ 6;
  }

  #certificate img {
    height: 150px;
    width: 300px;
  }
  #certificate h5 {
    font-size: 1rem;
  }
  .add-border-2 {
    border-left: 1px solid #ffc107;
  }

  .project-img {
    height: 150px;
    width: 190px;
  }

  .w-md-50 {
    width: 50%;
    height: 1.5rem;
  }
  .add-margin {
    margin-bottom: 75px;
  }
  .add-margin-2 {
    margin-bottom: 50px;
  }
  #job-info i {
    font-size: 50px !important;
  }
  #job-info p i {
    font-size: 20px !important;
  }
  .add-list {
    list-style: none;
  }
  #lead-1 {
    margin: 35px 0 !important;
  }
}
@media (max-width: 576px) {
  .panels {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: 250px 377px 305px 405px 200px 170px 100px 200px;
    column-gap: 1rem;
  }

  .pl-6 p,
  .pl-5 p {
    font-size: 16px !important;
  }
  .border-nav {
    border: 0px solid #dee2e6;
    font-size: 15px;
  }

  .project-img {
    height: 350px !important;
    width: 377px !important;
  }
  .details {
    font-size: 15px;
    color: #636161;
  }

  .add-list {
    list-style: none;
  }
  h2 b {
    font-size: 2.5rem;
  }
  .w-md-50 {
    width: 30%;

    align-items: center;
  }
  section > .container {
    /* width: 1170px; */
    margin: auto;
    display: block;

    padding: 30px 0px;
  }

  #lead-1 {
    margin: 45px 0 !important;
  }
  #lead-2 {
    margin: 9px 0 !important;
  }
  #lead-3 {
    margin: 35px 0 !important;
  }
}
